{% block nav %}
    <div id="nav" class="col-md-3" style="padding:0px;">
        <div style="padding:15px; height:60px; background:rgba(0, 0, 0, 0.35); margin-bottom:15px">
            <h4 style="text-align:center; margin:0;">School Killer 2000</h4>
        </div>
        <div style="padding:15px; height:361px; background:rgba(0, 0, 0, 0.35);">
            <a href="{{path('admin-course-list')}}">Courses</a><br>
        </div>  
    </div>
    
{% endblock %}