<div>
    <div class="gallery_item" style="padding:5px; border:1px solid #ccc; border-radius:5px;">
        <div>
            {{ form_widget(form.title) }}
        </div> 
        <div>
            {{ form_widget(form.size) }}
        </div>   
        <div>
            
            {{ form_widget(form.file) }}
        </div>
    </div>
</div>
{{ form_widget(form.view_status) }}
